/* .lat{
    /* background: #B9DFFF; */
    /* color: #fff;
    border: 10px solid #eee;
    border-radius: 20px;
    box-shadow: 30px 30px 30px #eee;
    text-shadow: none;
}
.but{
    background-color: chocolate;
    font-size:50px;
    border-radius: 30px;

}
.fullname{
    background-color: rgb(32, 173, 32);
    size: 30px;
    background-size: 30px ;
    border-radius: 100px;
    text-decoration: darkkhaki;
    color: white;
    font-size: 50px;
    border: 20px solid yellowgreen;
    box-shadow: 50px 50px rgb(175, 157, 55);
    text-size-adjust: 30px;
} */ 